#title{
	text-align: center;
}
/*************** Desktop view **************/

	@media (min-width:992px) {
	#Box1, #Box2, #Box3 {
		padding: 50px;
		margin: 10px;
		border: 1px solid #999;
		width: 992px;
		position: relative;
		top: 10px;
		left: 100px;
	}
	#content {
		padding: 10px;
		margin: 10px;
		border: 1px solid #999;
		width: 992px;
		position: relative;
		top: 10px;
		right: 100px;
		left:50px;
	}
}

/************ Tablet view *************/

@media (min-width:768px) and(max-width:991px){
		#Box1, #Box2, #Box3 {
		padding: 60px;
		margin: 10px;
		border: 1px solid #999;
		width: 991px;
		position: relative;
		top: 10px;
		left: 100px;
	}
	#content {
		padding: 10px;
		margin: 10px;
		border: 1px solid #999;
		width: 991px;
		position: relative;
		top: 10px;
		right: 100px;
		left:50px;
	}
}

/**************** mobile view **********/

@media (max-width:767px){
		#Box1, #Box2, #Box3 {
		padding: 10px;
		margin: 10px;
		border: 1px solid #999;
		width: 767px;
		position: relative;
		top: 10px;
		left: 100px;
	}
	#content {
		padding: 10px;
		margin: 10px;
		border: 1px solid #999;
		width: 767px;
		position: relative;
		top: 10px;
		right: 100px;
		left:50px;
	}
}